<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Le Système Solaire</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <header>
      <img id="imgHeader" src="../img/header.png" alt="">
      <div id="nav">
        <h1><a href="index.html ">Solar System</a></h1>
        <nav>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li>
              <a href="planetes.html">Planets &#9662</a>
              <ul>
                <li><a href="planetes/mercure.html">Mercury</a></li>
                <li><a href="planetes/venus.html">Venus</a></li>
                <li><a href="planetes/terre.html">Earth</a></li>
                <li><a href="planetes/mars.html">Mars</a></li>
                <li><a href="planetes/jupiter.html">Jupiter</a></li>
                <li><a href="planetes/saturne.html">Saturn</a></li>
                <li><a href="planetes/uranus.html">Uranus</a></li>
                <li><a href="planetes/neptune.html">Neptune</a></li>
              </ul>
            </li>
            <li><a href="form.html">Form</a></li>
            <li><a href="contact.html">About</a></li>
          </ul>
        </nav>
      </div>
    </header>




    <section class="container">
      <div class="main">
        <img class="round shadow" src="img/1.1.avif" alt="">
        <div class="card side">
          <p>
            Containeur principal
            <br>

          </p>
          <div class="sticker shadow">
            Sticker-------------------------------------------------------------------------------------
          </div>
        </div>
      </div>
    </section>
    <br>

    <section class="container">
      <div class="main">
        <div class="card planetes3">
          <a href="planetes/mercure.html">
            <img src="img/mercury.png" alt="">
            <br>
            <h3>
              Titre
            </h3>
            <div class="sticker shadow">
              Card 3 par lignes-----------------------------
            </div>
          </a>
        </div>
        <div class="card planetes3">
          <a href="planetes/venus.html">
            <img src="img/venus.png" alt="">
            <br>
            <h3>
              Titre
            </h3>
            <div class="sticker shadow">
              Card 3 par lignes-----------------------------
            </div>
          </a>
        </div>
        <div class="card planetes3">
          <a href="planetes/terre.html">
            <img src="img/earth.png" alt="">
            <br>
            <h3>
              Titre
            </h3>
            <div class="sticker shadow">
              Card 3 par lignes-----------------------------
            </div>
          </a>
        </div>
      </div>
    </section>

    <article class="container">
      <div class="main">
        <div class="card basis65">
          <p>Containeur inégal
            <br>

          </p>
        </div>
        <img class="rounded card basis30 shadow"
          src="img/planete_presentation.jpg" alt="">
      </div>
      <br>

    </article>


    /*Footer*/

    <footer>
      <div>
        <p>Web site created by Laura Kriszgruber / Lukiwa</p>
        <ul id="social">
          <li><a href="https://github.com/KriszgruberL" target="_blank
              "><img src="img/github.png" alt=""></a></li>
          <li><a href="https://www.linkedin.com/in/laura-kriszgruber/"
              target="_blank"><img src="img/linkedin.png" alt="">
            </a></li>
          <li><a href=mailto: the.kiwah@gmail.com target="_blank"><img
                src="img/envelope (1).png" alt=""></a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
