<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Le Système Solaire</title>
    <link rel="stylesheet" href="../style.css">
  </head>
  <body>
    <header>
      <img id="imgHeader" src="../img/header.png" alt="">
      <div id="nav">
        <h1><a href="../index.html ">Solar System</a></h1>
        <nav>
          <ul>
            <li><a href="../index.html">Home</a></li>
            <li>
              <a href="../planetes.html">Planets &#9662</a>
              <ul>
                <li><a href="../planetes/mercure.html">Mercury</a></li>
                <li><a href="../planetes/venus.html">Venus</a></li>
                <li><a href="../planetes/terre.html">Earth</a></li>
                <li><a href="../planetes/mars.html">Mars</a></li>
                <li><a href="../planetes/jupiter.html">Jupiter</a></li>
                <li><a href="../planetes/saturne.html">Saturn</a></li>
                <li><a href="../planetes/uranus.html">Uranus</a></li>
                <li><a href="../planetes/neptune.html">Neptune</a></li>
              </ul>
            </li>
            <li><a href="../form.html">Form</a></li>
            <li><a href="../contact.html">About</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section class="container">
      <div class="main">
        <div class="card side">
          <img class="rounded shadow" src="../img/mars2.jpg" alt="">
          <br>
          <img class="rounded shadow" src="../img/aLIKjk3b-Courage_HERO.jpg"
            alt="">
        </div>
        <div class="card side">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
            facilis modi est corporis, libero tempora fuga voluptate corrupti
            voluptatibus asperiores saepe quas laborum! Illo ea, ab dolore totam
            doloremque eveniet.
            <br>

          </p>
          <div class="sticker shadow">
          </div>
        </div>
      </div>
      <br>
    </section>

    <article class="container">
      <div class="main">
        <div class="card basis65">
          <p>Containeur inégal
            <br>
          </p>
        </div>
        <img class="rounded card basis30 shadow"
          src="../img/planete_presentation.jpg" alt="">
      </div>
      <br>
      <hr>
      <br>

      <div class="main">
        <details class="card side rounded shadow">
          <summary>Lorem</summary>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium
            quo optio nobis est. Deserunt veritatis nam quas explicabo, maxime
            incidunt, consectetur nostrum non neque ab adipisci, voluptas quam
            aspernatur iste.
          </p>
        </details>
        <details class="card side rounded shadow">
          <summary>Lorem</summary>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium
            quo optio nobis est. Deserunt veritatis nam quas explicabo, maxime
            incidunt, consectetur nostrum non neque ab adipisci, voluptas quam
            aspernatur iste.
          </p>
        </details>
      </div>
      <br>
    </article>
    <br>



    <footer>
      <div>
        <p>Web site created by Laura Kriszgruber / Lukiwa</p>
        <ul id="social">
          <li><a href="https://github.com/KriszgruberL" target="_blank
              "><img src="../img/github.png" alt=""></a></li>
          <li><a href="https://www.linkedin.com/in/laura-kriszgruber/"
              target="_blank"><img src="../img/linkedin.png" alt="">
            </a></li>
          <li><a href=mailto: the.kiwah@gmail.com target="_blank"><img
                src="../img/envelope (1).png" alt=""></a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
